html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

.conteiner {
    width: 900px;
    margin: 0 auto;
    }

.navigation li{
    display: inline-block;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.navigation li{
    margin-right: 53px;
    margin-left: 53px;
    
    }

a {
    text-decoration: none;
  
        color: #626262;
}

.page-nav{
    padding: 77px 0;
}

.navigation a:hover,
.navigation a:focus{
    color: #03A9F4;
}
.section{
    text-transform: uppercase;
    color: #B4AD9E;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    /* margin-bottom: 30px; */
    /* margin-top: 30px; */
}

.heading {
    font-size: 30px;
       color:#626262;
    margin-bottom: 39px;
}
.bloc{
    display: inline-block;
    width: 419px;
    height: 477px;
    margin: auto auto;
    }

.first{
    margin: 24px 28px 68px 0px;
       }

.sekond{
    margin: 24px 0px 68px 30px;
      }

.third{
    margin: 68px 28px 70px 0px;
}

.fourth{
    margin: 68px 0px 70px 28px;
}
 .fifth {
     margin: 70px 28px 59px 0px;
 }

 .sixth{
     margin: 70px 0px 59px 28px;
 }

 .stylebutton {
    border: none;
    margin: 0px 360px;
    padding: 22px 34px;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Playfair Display', serif;
    border: 1px solid rgb( 98, 98, 98 );
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    
}

 .text {
color: #626262;
font-size: 14px;
line-height: 24px;
}