.conteiner {
    font-family: 'Playfair Display', serif;
    width: 900px;
    margin: 0 auto;
}
.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: auto;
}

.navigation li{
display: inline-block;
}
.page-nav{
    padding: 77px 0;
}
.navigation li:first-child{
    margin-left: 163px;
    margin-right: 60px;
}
.navigation li:not(:first-child, :last-child){
    margin-left: 60px;
    margin-right: 48px;
}
.navigation li:last-child{
    margin-right: 163px;
    margin-left: 47px;
}
.navigation a:hover{
    color: blue;
}

a {text-decoration: none;
}


.section{
    text-transform: uppercase;
}

.bloc{
    display: inline-block;
    width: 419px;
    height: 477px;
    margin: auto auto;
    }

.first{
    margin: 24px 28px 68px 0px;
       }

.sekond{
    margin: 24px 0px 68px 30px;
      }

.third{
    margin: 68px 28px 70px 0px;
}

.fourth{
    margin: 68px 0px 70px 28px;
}
 .fifth {
     margin: 70px 28px 59px 0px;
 }

 .sixth{
     margin: 70px 0px 59px 28px;
 }

 .stylebutton {
    font-size: 20px;
    display: inline-block;
    width: 165px;
    height: 60px;
    margin: 0px 0px 0px 358px;
    font-family: 'Playfair Display', serif;
 }

 