.features__conteiner {
  display: flex;
  justify-content: space-between;
  height: 595px;

}

.features__button {
  @extend %button;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__tab {
  @extend %button;
  width: 112px;
  height: 112px;
  background-color: $social-title-color;
  border: 1px solid $prime-wite-color;
  border-radius: 4px;
  font-size: 15px;
  line-height: 20px;
  color: $prime-wite-color;
  font-family: $font-social-title;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $hover-button-color;
  }
}

.features__discr {
  align-self: center;
  width: 480px;
}

.features__discr-title {
  @extend %list;
  font-size: 20px;
  color: $navigation-background-color;
  font-family: $font-social-title;
  margin-bottom: 51px;
}

.features__discr-text {
  @extend %list;
  margin-bottom: 20px;
  font-size: 14px;
line-height: 20px;
color: $social-text-color;
font-family: $font-social-text;
}

.features__download {
  @extend %button;
  font-size: 15px;
  line-height: 20px;
  color: $prime-wite-color;
  font-family: $font-navigation;
  background-color: $hover-button-color;
  border: 1px solid;
  border-radius: 4px;
  width: 121px;
  height: 46px;
  margin-top: 20px;
}

.features__img {

  align-self: center;
}
